/******************TAG selector*********************/
body{
    font-family: "Montserrat";
}
h1{
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

h3{
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 2rem;
   
}
h2{
    color: #fff;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 3rem;
    line-height: 1.5;
    
}

p{
    color: #8f8f8f;
}

/*************** refractor ******************/
/* headers */

/* padding */

/* watch the refrator section from lesson section 7 of angela wu */

/* align everting according to the section layout in thr index.html */

/******************CLASS selector*********************/

.container-fluid{
    padding: 3% 15%;
}
.navbar-brand{
    font-family: "ubuntu";
    font-size: 2.5rem;
    font: bold;
}

.navbar{
    padding: 0 0 4.5rem 0;
   
}

.nav-item{
    padding: 1rem;

}

.nav-link{
    size: 1.5rem;
}

.download-button{
    margin:5% 3% 5% 0;
}

.phone-img{
    width: 60%;
    transform: rotate(20deg);
    position: absolute;
    right: 30%;
}


/* icons */
.icon{   
   
    font-size: 4rem;
    color: #ef8172;
    margin-bottom: 1rem;
}
.fas:hover{
    color: #ff4c68;
}
.fab:hover{
    color: #ff4c68;
}

.features-column{
    text-align: center;
    padding: 5%;
}


/* testimonial section */

#testimonials{
   
    background-color: #ef8172;
    text-align: center;
    
}
.carousel-item{
    padding: 7% 15%;
}
.testimonial-img{

    border-radius: 100%;
    width: 10%;
    margin: 2%;
}


/* press section*/

#press{
    background-color: #ef8172;
    text-align: center;
}
.press-img{
    width: 7%;
}

/* pricing */

#pricing{
    padding: 100px;
    text-align: center;
}
/******************ID selector*********************/
#title{
    background-color: #ff4c68;
    color: #fff;
    position: relative;
}

#features{
   
   padding: 7% 15%;
   background-color: #fff;
   position: relative;
   
}

 /* Call to Action  */

 #cta{
     background-color: #ff4c68;
     text-align: center;
     padding: 7% 15%;

    
 }

 .monsarat-black{
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 3rem;
    color: #fff;
 }


 /* Footer */

 #footer{
     text-align: center;
     background-color: #fff;
     padding: 7% 15% ;
 }

 .fab-padding{
     padding: 2%;
 }


/* media query */

@media(max-width: 1028px){
    #title{
        text-align: center;
    }
    .phone-img{
        transform: rotate(0);
        position: static;
    }
}